{#------------------------------------------------------------------------------------------------------#}
{# Sticky                                                                                               #}
{# ------                                                                                               #}
{# Zeigt alle Beiträge aus allen Ordnern und Unterordnern an, bei denen das Attribut 'Sticky: true'     #}
{# gesetzt ist. Der 1. und 5. Post wird mit 6 breiter als 3 dargestellt, um das Erscheinungsbild etwas  #}
{# aufzulockern. Die Anzeige von angepinnten Beiträgen erfolgt ausschließlich auf der Startseite,       #}
{# jedoch nicht in Kategorien Der Wert für "size" kommt aus dem Array der "pico-theme.yml".             #}
{#------------------------------------------------------------------------------------------------------#}

<!-- Sticky Posts -->
    {% if current_page.id|split('/')[0] == 'index' %}
        <div class="container-fluid py-5 bg-light">
            <div class="container g-0">

                {% if config.theme_config.sticky.heading %}
                    <p class="lead text-center text-secondary mb-5">Empfohlene Artikel von <span>{{ pages|length }}</span></p>
                {% endif %}

                <div class="row">
                {% for page in pages if page.title and not page.hidden and page.meta.Sticky %}

                    {% set size = config.theme_config.sticky.weights[loop.index-1] %}

                    <div class="col-sm-{{size}} mb-3">
                        {% if config.theme_config.sticky.logo %}
                            <div class="text-center">
                                <img src="{{assets_url}}/{{page.meta.logo}}" class="img-fluid mb-3 w-50">
                            </div>
                        {% endif %}

                        <a href="{{ page.url }}" title="{{ page.title }}"><h2 class="mb-3 fs-4"> {{ page.title }} </h2></a>
                        <hr>
                        <p> {{ page.description }} </p>

                        <!-- Folder -->
                        <!-- Pfad zum Sticky-Post, jedoch ohne den Dateinamen des Beitrags max 5 Stufen -->
                        <p class="small opacity-50">
                            <span class="small">
                                <i class="bi bi-folder-fill mx-1"></i>
                                {% if page.id|split('/')[0] %} {{ page.id|split('/',-1)[0] }} {% endif %}
                                {% if page.id|split('/')[1] %}/{{ page.id|split('/',-1)[1] }} {% endif %}
                                {% if page.id|split('/')[2] %}/{{ page.id|split('/',-1)[2] }} {% endif %}
                                {% if page.id|split('/')[3] %}/{{ page.id|split('/',-1)[3] }} {% endif %}
                            </span>
                        </p>
                        <!-- Folder -->

                    </div>

                {% endfor %}
                </div>

            {% include 'modules/rss-feed.twig' %}

            </div>
        </div>
    {% endif %}
<!-- Sticky Posts -->
